results/
results/*
.SYNC
.SYNC/*
.*.sw*
.nfs*
*.log
*.bak
*.ecov
*.elog
*.fsdb
*.fsdb.chain
*.fsdb.lock
*.fsdb.slist
*.fsdb.tlist
*.bak
*.orig
*.junk
verdiLog/*
\#*
#*#
INCA_libs/
INCA_libs/*
irun.key
cov_work/
cov_work/*
*.shm/
*.shm/*
*.trn
*.dsn
*.vcd
vdCovLog/
vdCovLog/*
GATEKEEPER/
GATEKEEPER/*
MockTurnin/
MockTurnin/*
MockTurnin*/
MockTurnin*/*
fsdbdebugLog/
fsdbdebugLog/*
nCompareLog/
nCompareLog/*
fsdb*Log/
fsdb*Log/*
*~
DVEfiles/
DVEfiles/*
csrc/
csrc/*
*.fsdb.*
simv*
*lib++
ucli.key
vc_hdrs.h
*.vpd
verdiLog/
verdiLog/*
vericomLog/
vericomLog/*
.vlogansetup.args
.vlogansetup.env
AN.DB/
AN.DB/*
*.simv
*.simv.*
sharedMem.dat
backendwork
backendwork/*
.dvt
.dvt/*
.project
profileReport*
profileReport/*
simprofile_dir
simprofile_dir/*
vloganLog
vloganLog/*
.~*
